<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dil.mybatis.dao.IEmployeeDAO">

    <resultMap id="employeeMap" type="com.dil.mybatis.domain.po.EmployeePO">
        <id column="id" property="id"/>
        <result column="employee_number" property="employeeNumber"/>
        <result column="employee_name" property="employeeName"/>
        <result column="employee_level" property="employeeLevel"/>
        <result column="employee_title" property="employeeTitle"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryEmployeeByEmployNumber" parameterType="java.lang.String" resultMap="employeeMap">
        SELECT employee_number, employee_name, employee_level, employee_title
        FROM employee
        WHERE employee_number = #{employeeNumber}
    </select>

    <insert id="insert" parameterType="com.dil.mybatis.domain.po.EmployeePO">
        INSERT INTO employee(employee_number, employee_name, employee_level, employee_title, create_time, update_time)
        VALUES(#{employeeNumber}, #{employeeName}, #{employeeLevel}, #{employeeTitle}, now(), now())
    </insert>

    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO employee(employee_number, employee_name, employee_level, employee_title, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.employeeNumber}, #{item.employeeName}, #{item.employeeLevel}, #{item.employeeTitle}, now(), now())
        </foreach>
    </insert>

    <update id="update" parameterType="com.dil.mybatis.domain.po.EmployeePO">
        UPDATE employee SET employee_level = #{employeeLevel}, employee_title = #{employeeTitle}
        WHERE employee_number = #{employeeNumber}
    </update>

    <!-- 插入数据并获取自增的主键值 此方式仅支持自增主键的数据库，如 mysql，但 oracle 不支持，可以使用 <selectKey>标签 -->
    <insert id="insertAndGetPrimaryKey" parameterType="com.dil.mybatis.domain.po.EmployeePO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee(employee_number, employee_name, employee_level, employee_title, create_time, update_time)
        VALUES(#{employeeNumber}, #{employeeName}, #{employeeLevel}, #{employeeTitle}, now(), now())
    </insert>

    <select id="batchQuery" parameterType="java.util.List" resultMap="employeeMap">
        SELECT employee_number, employee_name, employee_level, employee_title
        FROM employee
        <where>
            <if test="employNumbers != null and employNumbers.size() > 0">
                and employee_number in
                <foreach collection="employNumbers" item="employeeNumber" open="(" separator="," close=")">
                    #{employeeNumber}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
